@model List<Kullanici>



<div class="card">
    <div class="card-header">

        <table style="width:100%;">
            <tr>
                <td>  <h5 class="m-0">Kullanıcılar</h5>  </td>
                <td style="text-align:right;">  <a href="/Kullanici/Ekle" class="btn btn-sm btn-success">Ekle</a>  </td>
            </tr>
        </table>


    </div>
    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Resim</th>
                    <th>Yetki</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Eposta</th>
                    <th style="width:100px;">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Content/Resim/Kullanici/@k.resim" style="width:40px;" />

                        </td>
                        <td>  @k.Yetki.ad  </td>
                        <td>  @k.ad  </td>
                        <td>  @k.soyad  </td>
                        <td>  @k.eposta  </td>
                        <td>
                            <a class="btn btn-info btn-sm" href="/Kullanici/Duzenle/@k.kullaniciID">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="/Kullanici/Sil/@k.kullaniciID" onclick="return confirm('Silmek istediğinizden emin misiniz ?')">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
    <div class="card-footer">
        Toplam Kullanıcı Sayısı : @Model.Count
    </div>
</div>
